@import "include/keyframes";
@import "include/variables";
@import "include/mixins";

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  .emblem {
    width: 23rem;
    height: auto;
    position: absolute;
    left: 50%;
    top: -1.5rem;
    transform: translateX(-50%);
  }
  .razor {
    z-index: -1;
    position: absolute;
    right: -14rem;
    width: 29rem;
    top: calc(50% + 2rem);
    transform: translateY(-50%);
    height: auto;
  }
  .btn-container {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      height: 22rem;
      width: auto;
    }
  }
  @media screen and (max-width: 960px) {
    .razor {
      top: calc(50% - 10rem);
    }
  }
  @include responsive(mobile, 0) {
    .emblem {
      display: none;
    }
    .hero-text {
      .logo {
        width: 100%;
        height: auto;
      }
    }
    .btn-container {
      right: 1rem;
      bottom: 5rem;
    }
    .razor {
      width: 20rem;
      right: -10rem;
    }
  }
}

.about {
  margin-top: 5rem;
  padding-bottom: 40rem;
  .about-text {
    margin-left: 7.5rem;
    width: 35rem;
    .heading {
      margin-bottom: 2rem;
    }
  }
  .razor {
    z-index: -1;
    position: absolute;
    width: 35rem;
    transform: rotate(-30deg);
    left: -14rem;
    top: 22rem;
  }
  .img-1 {
    position: absolute;
    right: 6rem;
    top: 4rem;
    width: 25rem;
    height: 42rem;
    img {
      object-position: -42px 20px;
    }
  }
  .img-2 {
    position: absolute;
    left: 7.5rem;
    top: 23rem;
    width: 40rem;
    height: 25rem;
  }
  .img-1,
  .img-2 {
    img {
      filter: grayscale(1);
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  @include responsive(smallerDesktop, 0) {
    .about-text {
      margin-left: 3rem;
    }
    .img-1 {
      right: 4rem;
    }
    .img-2 {
      left: 3rem;
    }
  }
  @include responsive(desktop1350, 0) {
    .about-text {
      margin-left: 0;
    }
    .img-1 {
      right: 0;
    }
    .img-2 {
      left: 0;
    }
  }
  @media screen and (max-width: 1230px) {
    .about-text {
      width: 30rem;
    }
    .img-2 {
      width: 30rem;
    }
  }
  @media screen and (max-width: 1100px) {
    .img-1 {
      right: -5rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .img-2 {
      left: -5rem;
    }
    .img-1 {
      right: -7rem;
    }
  }
  @include responsive(biggerTablet, 0) {
    padding-bottom: 0;
    margin-bottom: 8rem;
    .img-1 {
      display: none;
    }
    .img-2 {
      position: relative;
      left: unset;
      top: unset;
      width: 100%;
      height: 27rem;
    }
    .about-text {
      margin-bottom: 4rem;
    }
  }
  @include responsive(mobile, 0) {
    .about-text {
      width: 100%;
    }
    .img-2 {
      img {
        object-position: center;
      }
    }
  }
}

.sluzby {
  .heading {
    margin-bottom: 2rem;
  }
  .btn-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 3rem);
  }
  .next,
  .prev {
    position: absolute;
    top: 50%;
    background: #aaa;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    align-items: center;
    cursor: pointer;
    svg {
      height: 2rem;
      width: 2rem;
    }
    &:hover {
      background: #fff;
    }
  }
  .prev {
    left: -6rem;
    transform: rotate(180deg);
  }
  .next {
    right: -6rem;
  }
  .cards-container {
    position: relative;
  }
  .cards {
    margin: 0 -1rem;
    overflow: hidden;
    .slick-track {
      display: flex !important;
    }
    .slick-slide {
      height: inherit !important;
    }
    .card {
      margin: 0 1rem;
      padding: 2rem;
      background: #111;
      img {
        width: 8rem;
        height: 8rem;
        margin-bottom: 0.7rem;
        margin-top: -1.5rem;
        margin-left: -1rem;
      }
      .sluzba {
        margin-bottom: 2rem;
        &:last-child {
          margin-bottom: 0;
        }
        .head {
          @include flex(row, space-between, center);
          font-size: 1.3rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
          color: #fff;
          .price {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .dash {
              display: block;
              width: 2rem;
              height: 0.15rem;
              background: #555;
              margin: 0 1rem;
            }
          }
        }
        .text {
          padding-right: 3rem;
        }
      }
    }
  }
  @media screen and (max-width: 1650px) {
    .prev {
      left: -3rem;
    }
    .next {
      right: -3rem;
    }
  }
  @media screen and (max-width: 1100px) {
    .prev,
    .next {
      top: -5rem;
      width: 3.5rem;
      height: 3.5rem;
    }
    .next {
      right: 0;
    }
    .prev {
      right: 4.5rem;
      left: unset;
    }
  }
  @include responsive(mobile, 0) {
    margin-bottom: 15rem;
    .heading {
      margin-bottom: 3rem;
    }
    .next,
    .prev {
      top: calc(100% + 2rem);
    }
    .next {
      right: 0;
    }
    .prev {
      left: 0;
    }
    .slick-track {
      display: block !important;
    }
    .slick-slide {
      height: initial !important;
    }
    .btn-container {
      top: calc(100% + 8rem);
    }
  }
}

section.largelogo {
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 4rem;
  img {
    z-index: -1;
    width: 75%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  @include responsive(mobile, 0) {
    img {
      width: 100%;
    }
  }
}
